
<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Comments</th>
      <th>Project</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= comment.comments %></td>
        <td><%= comment.project_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>