// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
  .previous_page { background:#7777ff; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: green }
  .current { color: white }
  .next_page { background: #7777ff; color: white }
  .next_page.disabled { background: white; color: #777 }
   display: inline-block;
}

.pagination a {
    color: black;    
    padding: 8px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    float: center;
}

.pagination a:hover:not(.active) {background-color: #ddd;     padding: 8px;}